@import '../../../../style/scss/variables/vars';

.outerContainer {
  position: relative;
}

.innerContainer {
  position: relative;
}

.hasError {
  border: 1px solid $darkRaspberryColor;
  border-radius: 4px;
  color: $darkRaspberryColor;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.container {
  border-radius: 4px;
  width: 100%;

  &:before, &:after {
    display: none;
  }

  input {
    padding: 14px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border-color $transitionPrimary;

    &:focus {
      border-color: $darkBlackberryColor;
    }
  }
}

.error {
  color: $darkRaspberryColor;
  padding: 0 5px;
}
