@import "../../style/scss/variables/vars";
@import "../../style/scss/variables/mixins";

.content {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @include flex-column();

  gap: 24px;
  max-width: 416px;
  padding: 40px;
  background: white;
}

.form {
  @include flex-column();
  gap: 24px;

  &Fieldset {
    @include flex-column();
    gap: 24px;
  }

  &Label {
    @include flex-column();

    gap: 8px;
    font-weight: 600;
  }

  &Input {
    @include flex-row ();

    justify-content: center;
    padding: 14px 12px;
    border: none;
    border-radius: 8px;
    background: $whiteThreeColor;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  border-radius: 8px;
  border: none;

  &Entry {
    color: white;
    background: $normalBlackberryColor;
  }

  &Register {
    color: $textcolor;
    background: $invisibility;
  }

  &Forgot {
    color: $normalBlackberryColor;
    background: $invisibility;
  }
}

.buttons {
  @include flex-column();

  gap: 8px;
}
