@import '../../../../style/scss/variables/vars';

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: #17324D;
}

.error {
  color: $darkRaspberryColor;
}
